.nameContainer {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 2px 10px 5px 10px;
}

.nameContainer h2 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.starsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.overallRatings h3 {
  font-size: 12px;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.nameContainer h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
}

.imageContainer {
  height: 100%;
  width: 100%;
  margin: 10px 30px 30px 30px;
  position: relative;
}
