.backdrop {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal {
  width: 70%;
  height: 70%;
  max-height: 750px;
  max-width: 1280px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}

.modalContent {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 25px;
}

.imageWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  margin-right: 50px;
}

.detailsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
}

.pokemonDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.overallStars {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blurbWrapper {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
}

.rankingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  border-left: solid 1px black;
}

.nameWrapper {
  padding-right: 10px;
}

.userRatingContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #47a7bd18;
  padding: 20px;
  border-radius: 25px;
}

.modalContent h1 {
  font-size: 33px;
  margin: 0;
}

.modalContent h2 {
  font-size: 21px;
  margin: 0;
}

.modalContent h3 {
  font-size: 16px;
  margin: 0;
}

.modalContent h4 {
  font-size: 14px;
  font-weight: 100;
  margin: 0;
}

.modalContent p {
  font-size: 16px;
  margin: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formWrapper {
  align-items: center;
}

.formWrapper button {
  background-color: #47a8bd;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 7px;
  width: 100%;
  margin: 20px 0 0 0;
}

.modal input {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.modal textarea {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.starsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
