.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  border: solid 5px #47a8bd;
  height: 430px;
  width: 280px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: transform 500ms;
  border-radius: 10px;
  margin: 5px 5px 15px 5px;
}

.container:hover {
  transform: translateY(-10px);
}

.topDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 8%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.topDetails h3 {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  margin: 3px 3px;
  padding: 3px 3px;
  align-items: center;
}

.imageText h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  margin: 0px;
}

.imageText h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 0px;
}

.imageText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  width: 300px;
}

.footer li {
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 11px;
  padding: 5px;
  border-radius: 2px;
  transition: transform 500ms;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer li:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}
