.container {
  position: fixed;
  min-height: 5vh;
  background-color: #47a8bd;
  margin: 0px;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  border-top: solid 3px black;
  text-align: center;
  align-items: center;
  color: white;
}
