.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 2vh 2.5vw 2vh 2.5vw;
}

.dropShadow {
  box-shadow: 0px 0px 12px 0px #888888;
}

.title {
  padding-right: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
}

.title h1 {
  font-size: 2.2rem;
  text-align: left;
  margin: 0;
}

.title h3 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding-top: 5px;
  font-weight: 100;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navDropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav li {
  display: inline-block;
  font-size: 1.1em;
  list-style-type: none;
  padding-left: 0.5vw;
  font-family: "Playfair Display", serif;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav li:hover {
  transform: translateY(-3px);
  color: #ea9c78;
}

.active {
  color: #ea9c78;
}

.login {
  padding: 10px 15px;
  margin-left: 15px;
  background-color: #47a8bd;
  color: white;
  font-family: "Open Sans", sans-serif;
  border: none;
}

.login:hover {
  background-color: #327685;
}

.login:active {
  background-color: orange;
  transform: translate(3px, 3px);
}

.dropdownContainer {
  width: 100%;
}

.dropdownContainer h3 {
  font-size: 21px;
  padding: 0;
  margin: 5px 0;
}
