.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 95vw;
  max-width: 1280px;
  margin: auto;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.stats p {
  font-weight: 200;
  margin-left: 8px;
}

.searchBy {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
}

.searchBy button {
  font-size: 1rem;
  background-color: white;
  border: none;
  padding: 0 0 10px 10px;
  margin: 0px;
  font-family: "Playfair Display", serif;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.searchBy button:hover {
  transform: translateY(-3px);
  color: #ea9c78;
}

.searchBy button:focus {
  transform: translateY(-3px);
  color: #ea9c78;
}

.searchByHover {
  transform: translateY(-3px);
  color: #ea9c78;
}
