.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95vw;
  max-width: 1280px;
}

.searchBy {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
}

.searchBy button {
  font-size: 1rem;
  background-color: white;
  border: none;
  padding: 0 0 10px 10px;
  margin: 0px;
  font-family: "Playfair Display", serif;
  cursor: pointer;
}

.searchBy button:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease-out;
  color: orange;
}
